<app-media-library-page
  [kind]="'series'"
  [heroTitle]="'Series Library'"
  [heroCopy]="'Browse your series catalog, review poster art, and manage titles from one clean workspace.'"
  [panelTitle]="'All Series'"
  [triggerLabel]="'Add Series'"
  [itemLabel]="'series'"
  [itemLabelPlural]="'series'"
  [deleteItemLabel]="'series item'"
  [deleteItemLabelPlural]="'series items'"
  [detailTitle]="'Series Details'"
  [searchLabel]="'Search series'"
  [selectedLabel]="'Selected Series'"
  [loadErrorMessage]="'Unable to load series.'"
  [selectionStatusMessage]="'Updating series selection...'"
  [softDeleteErrorMessage]="'Unable to soft delete selected series.'"
  [hardDeleteErrorMessage]="'Unable to hard delete selected series.'">
</app-media-library-page>
