<app-media-library-page
  [kind]="'movie'"
  [heroTitle]="'Movie Library'"
  [heroCopy]="'Browse your catalog, review poster art, and manage titles from one clean workspace.'"
  [panelTitle]="'All Movies'"
  [triggerLabel]="'Add Movie'"
  [itemLabel]="'movie'"
  [itemLabelPlural]="'movies'"
  [deleteItemLabel]="'movie'"
  [deleteItemLabelPlural]="'movies'"
  [detailTitle]="'Movie Details'"
  [searchLabel]="'Search movies'"
  [selectedLabel]="'Selected Movies'"
  [loadErrorMessage]="'Unable to load movies.'"
  [selectionStatusMessage]="'Updating movie selection...'"
  [softDeleteErrorMessage]="'Unable to soft delete selected movies.'"
  [hardDeleteErrorMessage]="'Unable to hard delete selected movies.'">
</app-media-library-page>
