<app-media-library-page
  [kind]="'videoGame'"
  [heroTitle]="'Video Games Library'"
  [heroCopy]="'Browse your game catalog, review poster art, and manage titles from one clean workspace.'"
  [panelTitle]="'All Video Games'"
  [triggerLabel]="'Add Video Game'"
  [itemLabel]="'video game'"
  [itemLabelPlural]="'video games'"
  [deleteItemLabel]="'video game'"
  [deleteItemLabelPlural]="'video games'"
  [detailTitle]="'Video Game Details'"
  [searchLabel]="'Search video games'"
  [selectedLabel]="'Selected Video Games'"
  [loadErrorMessage]="'Unable to load video games.'"
  [selectionStatusMessage]="'Updating video game selection...'"
  [softDeleteErrorMessage]="'Unable to soft delete selected video games.'"
  [hardDeleteErrorMessage]="'Unable to hard delete selected video games.'">
</app-media-library-page>
