<table class="table table-dark movie-table">
  <thead>
    <tr>
      <th>Poster</th>
      <th>Title</th>
      <th>Genre</th>
      <th>Year</th>
      <th>Rated</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let movie of movies">
      <td>
        <img
          [src]="movie.poster"
          alt="{{ movie.title }}"
          class="poster"
        />
      </td>
      <td>{{ movie.title }}</td>
      <td>{{ movie.genre }}</td>
      <td>{{ movie.year }}</td>
      <td>{{ movie.rated }}</td>
    </tr>
  </tbody>
</table>
